@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to my shopping cart!</h1>
        <p><a href="Home/Item">Item Link</a></p>
        <p><a href="Home/Checkout">Checkout Link</a></p>
    </div>
